body {
  background-color: rgb(52, 53, 59);
}
.my-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: steelblue;
}
.my-nav {
  background-color: rgb(88, 88, 50);
  display: flex;
  width: 100%;
  height:70px;
  color:#282c34;
  align-items: center;
  justify-content:center;
  /* position: fixed; */
  top:0;
  left:0;


  border:3px solid black;
  
}
.my-item {
  margin:20px;
}

a {
  text-decoration: none;
  color:rgba(128, 0, 128, 0.761);
}
a:hover {
  color:seagreen;
  background-color: seagreen;
  transition: 0.5s ease-in-out;
}

.my-nav li {
  list-style-type: none;
  display:inline-block;
  margin: 10px 10px;
  padding: 5px 10px;
  border: 1px #000 solid;
  border-radius: 15px;
  
}
.my-nav h2 {
  color:black;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
